@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .3rem;

}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputWrapper{
    width: 100%;
    height: 8vh;
    /* border: 2px solid black;   */
}
.inputWrapper input{
    width: 20rem;
    height: 2rem;
    border: 1px solid black;
    outline: none;
    border-radius: .3rem;
    padding: 0 1rem;
    font-size: 1rem;
}
.searched_results{
    width: 30rem;
    background-color: rgb(204, 205, 206);
    padding: 1rem 0;
    border-radius: .3rem;
}
.searched_results .result{
    list-style:  none;
    padding: .3rem 2rem;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;

}
.result:hover{
    background-color: rgb(190, 219, 236);
}